<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>18071346394-ipu27qr37i8m7ffoj4mo5ogeu05nqvf9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.18071346394-ipu27qr37i8m7ffoj4mo5ogeu05nqvf9</string>
	<key>API_KEY</key>
	<string>AIzaSyB0Iv_DZzKb05jlyZbQW2xAe-6HXNi5_Rc</string>
	<key>GCM_SENDER_ID</key>
	<string>18071346394</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>lavravel.Telesapp</string>
	<key>PROJECT_ID</key>
	<string>telesapp-d695f</string>
	<key>STORAGE_BUCKET</key>
	<string>telesapp-d695f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:18071346394:ios:0928ff38dff169adbad9e3</string>
</dict>
</plist>